@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("img/loginbackground.jpg");
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  border-radius: 100px 10px 100px 10px;
  min-height: 400px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(255, 255, 255);
  padding: 50px 40px;
}

.container .login-text {
  color: rgb(4, 71, 109);
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 40px;
  display: block;
  text-transform: capitalize;
}

.container .login-social {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin-bottom: 25px;
}

.container .login-social a {
  padding: 12px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.container .login-social a i {
  margin-right: 5px;
}

.container .login-email .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login-email .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  transition: 0.3s;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
  border-color: #ffffff;
}

.container .login-email .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background-image: linear-gradient(to right, #007979, #003f7e);
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}

.container .login-email .input-group .btn:hover {
  transform: translateY(-5px);
  background: #ffffff;
}

.login-register-text {
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}

.login-register-text a {
  text-decoration: none;
  color: rgb(4, 71, 109);
}

@media (max-width: 430px) {
  .container {
    width: 300px;
  }
  .container .login-social {
    display: block;
  }
  .container .login-social a {
    display: block;
  }
}
